*{margin: 0;padding: 0;}
.right span{
	margin-right: 40px;
}
.left{
	font-size: 25px;
	color: white;
	background-color: #858585;
	line-height: 3;
}
.left h1{
	
}
.text_left{
	width: 10%;
	background-color: #D6D6D6;
	height: 100px;
	line-height: 100px;
	text-align: center;
	border-bottom:1px solid white;
	float: left;
}
.new{
	overflow: auto;
}
.text_right{
	padding-left: 220px;
	padding-top: 0;
	border-bottom: 1px solid #D6D6D6;
	height: 100px;
}